.header
{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}
.white{
    color: white;
}
.image{
    width: 50%;
}
.heading{
    font-size: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#text:hover {
    background:transparent;
    color:black;
    font-size: 23px;
  }
  #text
  {
      color:white;
    background:transparent;
    font-size: 18px;
  }
  .footer{
      background-color: rgb(50, 50, 50);
  }
  .footerwhite:hover{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
  }
  .footerwhite{
      color: white;
  }